{
	"parser": "babel-eslint",
	"rules": {
		"strict": 0,
		"no-console": "off",
		"react/prop-types": "off",
		"no-undef": "off",
		"react/jsx-no-target-blank": "off"
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"]
}
