@import "../../scss/abstracts/variables";

.menu {
	&__nav-wrap {
		position: fixed;
		z-index: 0;
		transition: 0.7s ease;
	}

	&__nav {
		opacity: 0;
		width: 100vw;
		min-height: 100vh;
		position: absolute;
		z-index: 2;
		transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			z-index: -1;
			display: block;
			filter: blur(1px);
			background-color: rgba(255, 255, 255, 0.75);
			width: 100%;
			height: 100%;
		}

		& .nav-list {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3rem;
			letter-spacing: 5px;
			line-height: 150%;
			color: $second-text-color;

			@media (max-width: 380px) {
				font-size: 2.4rem;
			}

			@media (max-width: 320px) {
				font-size: 2rem;
			}

			&__element {
				cursor: pointer;

				& p {
					transition: 0.3s;

					&:hover {
						transform: scale(1.2);
						color: $first-bgc-color;
					}
				}
			}
		}
	}
}

.nav-icon {
	font-size: 3rem;
	transition: 0.7s;
}

.nav-media {
	position: absolute;
	display: flex;
	bottom: 5vh;
	left: 5vw;
	font-size: 2rem;
	color: $second-text-color;

	@media (max-width: 320px) {
		font-size: 1.6rem;
	}

	& svg {
		margin-left: 1vw;
		transition: 0.3s;

		@media (max-width: 420px) {
			margin-right: 3vw;
		}

		&:hover {
			transform: scale(1.1);
			color: $first-bgc-color;
		}
	}
}

.nav-legal {
	display: flex;
	position: absolute;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;

	@media (max-width: 420px) {
		bottom: 6.5vh;
	}

	&__element {
		transition: 0.3s;

		@media (max-width: 420px) {
			font-size: 1.2rem;
		}

		@media (max-width: 360px) {
			font-size: 1.1rem;
		}

		@media (max-width: 320px) {
			font-size: 1rem;
		}

		&:hover {
			transform: scale(1.1);
			color: $first-bgc-color;

			a {
				color: $first-bgc-color;
			}
		}
	}
}

.language-element {
	display: flex;

	&:before {
		content: "·";
		margin: 0 0.7em 0 0.5em;
	}
}

.menu__open,
.nav__close {
	position: absolute;
	top: 5vh;
	left: 5vh;
	z-index: 10;
}

.menu__open {
	position: fixed;
	opacity: 1;
	transform: scale(1);
	transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	z-index: 10;
}

.menu-open-hidden {
	opacity: 0;
	transform: scale(0);
	transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.nav__close {
	transition: 0.2s;
	&:hover {
		transform: scale(1.1);
		color: $first-bgc-color;
	}
}

.nav-visible {
	opacity: 1;
	transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.show-nav-wrap {
	z-index: 100;
	height: 100vh;
	transition: 0.7s ease;
}
