@keyframes cursor {
	0% {
		color: rgba(255, 255, 255, 0);
	}
	40% {
		color: rgba(255, 255, 255, 0);
	}
	50% {
		color: rgba(255, 255, 255, 0.9);
	}
	90% {
		color: rgba(255, 255, 255, 0.9);
	}
}

@keyframes actionShow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes animateArrow {
	0% {
		transform: translateY(-30px);
	}

	15% {
		transform: translateY(0px);
	}

	17% {
		transform: translateY(0px);
	}

	32% {
		transform: translateY(-20px);
	}

	34% {
		transform: translateY(-20px);
	}

	49% {
		transform: translateY(0px);
	}

	51% {
		transform: translateY(0px);
	}

	66% {
		transform: translateY(-10px);
	}

	68% {
		transform: translateY(-10px);
	}

	83% {
		transform: translateY(0);
	}

	85% {
		transform: translateY(0);
	}

	98% {
		transform: translateY(-30px);
	}

	100% {
		transform: translateY(-30px);
	}
}

@keyframes imgProjectSliderFirstImg {
	0% {
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	33% {
		opacity: 0;
	}

	86% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes imgProjectSliderOthersImg {
	0% {
		opacity: 0;
	}

	13% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	46% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
