@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Alegreya Sans", sans-serif;
	cursor: default;

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3.4rem;
	}

	i,
	svg {
		cursor: pointer;
	}
}
