@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Alegreya Sans", sans-serif;
	cursor: default;

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3.2rem;
	}

	i,
	svg {
		cursor: pointer;
	}
}

.scrollWrap {
	position: absolute;
	bottom: 2vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	width: 11.5vw;
	justify-content: space-between;
	font-size: 1.2rem;

	&--icon {
		color: #fff;
		position: relative;
		animation: animateArrow 3s infinite;
	}
}
