$first-bgc-color: #ff4b2c;
$second-bgc-color: #ff416a;
$third-bgc-color: #414345;
$fourth-bgc-color: #242627;
$fifth-bgc-color: #eee;
$presentation-second-bgc-color: #4b75eb;

$first-text-color: rgba(255, 255, 255, 0.9);
$second-text-color: rgba(0, 0, 0, 0.9);
