@import "../../scss/abstracts/variables";

.contact {
	position: relative;
	background: $first-bgc-color;
	background: -moz-linear-gradient(100deg, $first-bgc-color 0%, $second-bgc-color 100%);
	background: -webkit-linear-gradient(100deg, $first-bgc-color 0%, $second-bgc-color 100%);
	background: linear-gradient(100deg, $first-bgc-color 0%, $second-bgc-color 100%);
	padding: 20vh 30vw;
	color: $first-text-color;
	opacity: 0;
	transition: 1.2s;

	&__title {
		font-size: 6.5rem;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-bottom: 2vh;

		&--email,
		&--message {
			background-color: rgba(255, 255, 255, 0.1);
			color: $first-text-color;
			height: 55px;
			vertical-align: middle;
			padding: 0 10px;
			margin-bottom: 1vh;
			font-size: 1rem;

			&::placeholder {
				color: $first-text-color;
			}
		}

		&--message {
			height: 110px;
		}

		&--button {
			background-color: $first-text-color;
			color: #555;
			height: 55px;
			vertical-align: middle;
			padding: 0 10px;
			margin-bottom: 1vh;
			text-transform: uppercase;
			font-size: 1.6rem;
			box-shadow: 2px 2px 3px 0px $second-text-color;
			cursor: pointer;
			transition: 0.25s;

			&:hover {
				transform: scale(1.05);
			}
		}

		&--label {
			margin-top: 1vh;
			font-size: 1.4rem;
		}
	}

	&__info {
		display: flex;
		font-size: 1.4rem;

		&--email {
			margin-right: 0.5vw;

			& .email-link {
				color: $first-text-color;
				margin-right: 0.5vw;
			}
		}

		&--media {
			& .media__icon {
				margin-right: 0.7vw;

				& svg {
					transition: 0.2s;

					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

.showContact {
	opacity: 1;
	transition: 1.2s;
}
