@import "../../scss/abstracts/variables";

.contact {
	position: relative;
	background: $first-bgc-color;
	background: -moz-linear-gradient(100deg, $first-bgc-color 0%, $second-bgc-color 100%);
	background: -webkit-linear-gradient(100deg, $first-bgc-color 0%, $second-bgc-color 100%);
	background: linear-gradient(100deg, $first-bgc-color 0%, $second-bgc-color 100%);
	padding: 20vh 30vw;
	color: $first-text-color;
	opacity: 0;
	transition: 1.2s;

	@media (max-width: 1600px) {
		padding: 20vh 25vw;
	}

	@media (max-width: 800px) {
		padding: 20vh 15vw;
	}

	@media (max-width: 420px) {
		padding: 20vh 10vw;
	}

	&__title {
		font-size: 6.5rem;

		@media (max-width: 1650px) {
			font-size: 6rem;
		}

		@media (max-width: 1200px) {
			font-size: 5.4rem;
		}

		@media (max-width: 1100px) {
			font-size: 5rem;
		}

		@media (max-width: 800px) {
			font-size: 4.4rem;
		}

		@media (max-width: 420px) {
			font-size: 3.4rem;
		}

		@media (max-width: 380px) {
			font-size: 3rem;
		}

		@media (max-width: 360px) {
			font-size: 2.8rem;
		}

		@media (max-width: 320px) {
			font-size: 2.6rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-bottom: 2vh;

		&--email,
		&--message {
			background-color: rgba(255, 255, 255, 0.1);
			color: $first-text-color;
			height: 55px;
			vertical-align: middle;
			padding: 0 10px;
			margin-bottom: 1vh;
			font-size: 1rem;

			&::placeholder {
				color: $first-text-color;
			}
		}

		&--message {
			height: 110px;
		}

		&--button {
			background-color: $first-text-color;
			color: #555;
			height: 55px;
			vertical-align: middle;
			padding: 0 10px;
			margin-bottom: 1vh;
			text-transform: uppercase;
			font-size: 1.6rem;
			box-shadow: 2px 2px 3px 0px $second-text-color;
			cursor: pointer;
			transition: 0.25s;

			@media (max-width: 380px) {
				height: 50px;
				font-size: 1.4rem;
			}

			@media (max-width: 360px) {
				height: 45px;
				font-size: 1.3rem;
			}

			@media (max-width: 320px) {
				height: 40\x;
				font-size: 1.2rem;
			}

			&:hover {
				transform: scale(1.05);
			}
		}

		&--label {
			margin-top: 1vh;
			font-size: 1.4rem;

			@media (max-width: 420px) {
				font-size: 1.1rem;
			}

			@media (max-width: 360px) {
				font-size: 1rem;
			}

			@media (max-width: 320px) {
				font-size: 0.9rem;
			}
		}
	}

	&__info {
		display: flex;
		font-size: 1.4rem;

		@media (max-width: 420px) {
			font-size: 1.2rem;
		}

		@media (max-width: 360px) {
			font-size: 1.1rem;
		}

		@media (max-width: 320px) {
			font-size: 1rem;
		}

		&--email {
			margin-right: 0.5vw;
			transition: 0.2s;
			display: flex;

			.email-link {
				color: $first-text-color;
				margin-right: 0.5vw;

				@media (max-width: 360px) {
					margin-right: 2vw;
				}

				&__text {
					transition: 0.2s;
				}
			}

			&:hover .email-link__text {
				transform: scale(1.05);
			}
		}

		&--media {
			@media (max-width: 360px) {
				margin-left: 2vw;
			}

			.media__icon {
				margin-right: 0.7vw;

				@media (max-width: 360px) {
					margin-right: 2vw;
				}

				& svg {
					transition: 0.2s;

					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

.showContact {
	opacity: 1;
	transition: 1.2s;
}

.react-toast-notifications__toast__content {
	font-size: 22px !important;
}

// loader

.contact-loader__spin {
	display: inline-block;
	position: relative;
	width: 1.6rem;
	height: 1.6rem;
}

.contact-loader__spin div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 10px solid #555;
	margin-left: 10px;
	border-radius: 50%;
	animation: contact-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #555 transparent transparent transparent;
}

.contact-loader__spin div:nth-child(1) {
	animation-delay: -0.45s;
}
.contact-loader__spin div:nth-child(2) {
	animation-delay: -0.3s;
}
.contact-loader__spin div:nth-child(3) {
	animation-delay: -0.15s;
}
